.medication-text {
  font-size: 17px;
  font-weight: bold;
  color: black;
  letter-spacing: 2px;
}

.border-container {
  border-bottom: 2px dotted grey;
}

.profile-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
  border-bottom: 2px dotted grey;
  margin-bottom: 5px;
}

.heading-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 40%;
}

.medicine-logo {
  height: 40px;
  margin-right: 10px;
}

.active-medicine-text {
  font-size: 30px;
  font-weight: 500;
}

.patient-details-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.profile-items {
  width: 20%;
}

.patient-profile-questions {
  color: #5e5e5e;
  font-size: 14px;
  margin-bottom: 3px;
}

.patient-profile-answers {
  color: black;
  font-size: 20px;
  font-weight: 200;
  margin-left: 20px;
}

@media (min-width: 768px) {
  .medication-text {
    font-size: 20px;
    font-weight: bold;
    color: black;
  }

  .profile-container {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    border-bottom: 2px dotted grey;
    margin-bottom: 5px;
  }

  .medicine-logo {
    height: 40px;
    margin-right: 10px;
  }

  .active-medicine-text {
    font-size: 40px;
    font-weight: 500;
  }

  .patient-profile-questions {
    color: #5e5e5e;
    font-size: 17px;
    margin-bottom: 3px;
  }

  .patient-profile-answers {
    color: black;
    font-size: 25px;
    font-weight: 200;
    margin-left: 20px;
  }
}
